---
---

#top {
    max-width: 80rem;
}

#page_layout {
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    width: 75%;
}

@media (max-width: 50rem) {
    .page_toc {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .page_toc {
        width: 0%;
    }
}

.page_toc {
    width: 25%;
}


ul {
    list-style-type: none;
}


.content_toc {
    position: sticky;
    top: 2rem;
    font-size: 14px !important;
}