#page_layout {
  display: flex;
  flex-direction: row-reverse;
}

.main-content {
  width: 75%;
}

.page_toc {
  width: 25%;
}


ul {
  list-style-type: none;
}


.content_toc {
  position: sticky;
  top: 2rem;
  //counter-reset: step-counter;
  font-size: 14px !important;
}
